:root {
    --colorTextos: #49454567;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #83c6e0c5;
    margin: 0;
    padding: 0;
}
#goHomeButton {
    position: absolute;
    text-decoration: none;
    top: 10px; /* Distancia desde la parte superior de la página */
    left: 10px; /* Distancia desde la izquierda de la página */
    flex-basis: 40%;
    min-width: 150px;
    font-size: 15px;
    background-color: rgb(238, 12, 12);
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
}
header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
}
nav {
    background-color: #dd1e1eef;
    color: #ffffff;
    text-align: center;
    padding: 5px;
}
nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

section {
    background-color: #fff;
    max-width: 400px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center; 
}

form {
    background: #fff;
    padding: 80px 0;
    box-shadow: 0 0 6px 0 rgba(5, 153, 121, 0.8);
    border-radius: 10px;
}
.form{
    width: 100%;
    margin: auto;
}
form .grupo{
    position: relative;
    margin: 45px ;
}
input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{ 
    outline: none;
    color: #5e5d5d;
}
label {
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease all;
    pointer-events: none;
}
input:focus~label,
input:valid~label{
    top: -14px;
    font-size: 12px;
    color: #2196f3;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC);
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}
input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff62;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1271d6;
}

